<ul class="list ph5 mt0 center">
  <% @users.each do |user| %>
    <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
      <img class="w2 h2 w3-ns h3-ns br-100" src="<%= user.profile_photo %>" />
      <div class="pl3 flex-auto">
        <span class="f6 db black-70"><%= user.name %></span>
        <span class="f6 db black-70"><%= user.home_city %></span>
      </div>
      <div>
        <a href="/profile/<%= user.id %>" class="f6 link blue hover-dark-gray">View profile</a>
      </div>
    </li>
  <% end %>
</ul>

<% if @users.none? %>
  <p class='tc pt3'>No users yet</p>
<% end %>